{% extends 'auctions/layout.html' %}



{% block body %}
<div class="container-fluid">
    <h1> Category Detail</h1>
    <div class="row">
        {% if listings %}
            {% for listing in listings %}
            <div class="col-lg-3 col-sm-6">
                <div class="card" style="width: 18rem">
                    {% if listing.image_url %}
                        <img class="card-img-top" src="{{ listing.image_url }}">
                    {% else %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"> {{ listing.title }} </h5>
                        <p class="card-text">{{ listing.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-bottom">Current Price: {{ listing.starting_bid }}
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <a class="btn btn-primary" href="{% url 'listing' listing.id %}">Detail</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ listing.created_at }}</small>
                        <small class="text-muted float-right">{{ listing.owner }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <p> This category has no listings yet.</p>
            </div>
        {% endif %}
    </div>
</div>



{% endblock %}